*{
	padding: 0px 0px;
	margin: 0px 0px;
}
body{
	font-family: 'Roboto Slab', serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Roboto Slab', serif;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0px;
	margin: 0px ;
}
ul li{
	list-style: none;
}
.no-padding{
	padding: 0px 0px;
	margin: 0px 0px;
}
/*header section css start*/
.header-section {
    width: 100%;
    background: linear-gradient(90deg, rgb(0 148 178) 8%, rgb(0 147 173) 20%, rgb(47 165 178) 32%, rgb(154 213 215) 50%, rgb(157 215 218) 60%, rgb(0 115 135) 76%, rgb(0 109 135) 94%);
}
.header-section .navbar-brand img{
	width: 42%;
}
.header-section .bg-light {
    background-color: transparent!important;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 25px;
    text-transform: uppercase;
}
.header-section .navbar-light .navbar-nav .nav-link:hover{
	color: #432e8b;
	cursor: pointer;
	transition: .3s linear;
}
/*header section css end*/
/*banner section css start*/
.banner-section {
    width: 100%;
    height: 100vh;
    background: url(../images/header-bg.png) left center no-repeat;
    background-size: cover;
}
.banner-section .banner-inner-left {
    padding-top: 165px;
}
.banner-section .banner-inner-left h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    margin: 0px;
}
.banner-section .banner-inner-left p {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 15px;
}
.banner-section .banner-inner-left a {
    background: transparent;
    color: #fff;
    border: 1px solid #0e37e8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 24px;
    border-radius: 1px;
}
.banner-section .banner-inner-left a:hover{
    background: #e550ed;
    color: #000000;
    border: 1px solid #e550ed;
    cursor: pointer;
    transition: .3s linear;
}
.banner-section .banner-inner-right {
    width: 100%;
    text-align: right;
    padding-top: 230px;
}
.banner-section .banner-inner-right .bdr{
    border: 2px solid #fff;
    width: 8%;
    float: right;
}
.banner-section .banner-inner-right h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0px;
    font-weight: 300;
    padding-top: 20px;
}
.banner-section .banner-inner-right h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0px;
    font-weight: 400;
}
/*banner section css end*/
/*Lifeguard section css start*/
.lifeguard-section {
    width: 100%;
    text-align: center;
    padding: 90px 0px;
}
.lifeguard-section .lifeguard-inner-1 img {
    margin: 0px 0px 35px 0px;
}
.lifeguard-section .lifeguard-inner-2 img {
    margin: 50px 0px 35px 0px;
}
.lifeguard-section .lifeguard-inner-3 img {
    margin: 46px 0px 35px 0px;
}
.lifeguard-section .lifeguard-inner-1 h3,
.lifeguard-section .lifeguard-inner-2 h3,
.lifeguard-section .lifeguard-inner-3 h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
}
.lifeguard-section .lifeguard-inner-1 p,
.lifeguard-section .lifeguard-inner-2 p,
.lifeguard-section .lifeguard-inner-3 p{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
/*Lifeguard section css end*/
/*OUR COURSES section css start*/
.our-courses-section {
    width: 100%;
    background: #432e8b;
    padding: 40px 0px 90px 0px;
}
.our-courses-section .our-courses-title{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}
.our-courses-section .our-courses-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.our-courses-section .our-courses-inner{
    width: 100%;
    padding-bottom: 30px;
}
.our-courses-section .our-courses-inner h3 {
    color: #00dde4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px 15px 0px;
}
.our-courses-section .our-courses-inner p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 16px;
}
.our-courses-section .our-courses-inner a {
    background: transparent;
    color: #fff;
    border: 1px solid #adafb9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 24px;
    border-radius: 1px;
}
.our-courses-section .our-courses-inner a:hover{
    background: #e550ed;
    color: #000000;
    border: 1px solid #e550ed;
    cursor: pointer;
    transition: .3s linear;
}
.our-courses-section .our-courses-inner .logo{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
}
.our-courses-section .our-courses-inner .logo-position {
    position: absolute;
    bottom: -217px;
    right: 0%;
}
/*OUR COURSES section css end*/
/*about us section css start*/
.about-us-section{
    width: 100%;
    background: url(../images/about--bg.png) left center no-repeat;
    background-size: cover;
}
.about-us-section .about-us-inner {
    width: 100%;
    padding: 94px 0px 190px 0px;
}
.about-us-section .about-us-inner h2{
    color: #00dde4;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.about-us-section .about-us-inner h3 {
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 28px;
}
.about-us-section .about-us-inner p {
    color: #444444;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 6px 0px 25px 0px;
}
.about-us-section .about-us-inner a{
    background: transparent;
    color: #444444;
    border: 1px solid #0e37e8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 24px;
    border-radius: 1px;
}
.about-us-section .about-us-inner a:hover{
    background: #e550ed;
    color: #fff;
    border: 1px solid #e550ed;
    cursor: pointer;
    transition: .3s linear;
}
/*about us section css end*/
/*OUR INSTRUCTORS section css start*/
.instructor-section{
    width: 100%;
    background: #432e8b;
    padding-bottom: 50px;
}
.instructor-section .instructor-title {
    width: 100%;
    text-align: center;
    padding: 30px 0px 60px 0px;
}
.instructor-section .instructor-title h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.instructor-section .instructor-inner .owl-carousel .owl-item img {
    width: 100%;
    height: 550px;
}
.instructor-section .instructor-inner .owl-theme .owl-dots .owl-dot span {
    width: 0px;
    height: 0px;
    margin: 0px 0px;
    background: none;
}
.instructor-section .instructor-inner .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    color: transparent !important;
}
.instructor-section .instructor-inner .item .item-inner-parent {
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child {
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0%;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child ul li{
    display: inline;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child ul li a i {
    background: #fff;
    color: #432e8b;
    font-size: 17px;
    padding: 7px 9px;
    margin: 5px 2px 0px 2px;
    border-radius: 31px;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child .fa:hover{
    color: #fff;
    background: #432e8b;
    cursor: pointer;
    transition: .3s linear;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child .item-inner-text {
    width: 100%;
    background: #00dde4;
    padding: 5px 0px 3px 0px;
    box-shadow: 1px 3px 10px #171f80;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child .item-inner-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}
.instructor-section .instructor-inner .item .item-inner-parent .item-inner-child .item-inner-text p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}
.instructor-section .instructor-title .logo{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
}
.instructor-section .instructor-title .logo-position {
    position: absolute;
    bottom: -75px;
    left: 11%;
}
/*OUR INSTRUCTORS section css end*/
/*CLIENTS REVIEWS section css start*/
.client-section{
    width: 100%;
}
.client-section .carousel-caption {
    bottom: 6.25rem;
}
.client-section .carousel-item .client-details h1 {
    color: #00dde4;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 60px;
}
.client-section .carousel-item .client-details p i {
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
}
/*CLIENTS REVIEWS section css end*/
/*our gallery section css start*/
.gallery-section{
    width: 100%;
}
.gallery-section .gallery-title {
    width: 100%;
    text-align: center;
    padding: 75px 0px 30px 0px;
}
.gallery-section .gallery-title h1 {
    color: #00dde4;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.gallery-section .gallery-title p {
    color: #000000;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 300;
}
.gallery-section .p-bottom{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.gallery-section .p-bottom p {
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}
/*our gallery section css end*/
/*download-app-section  css start*/
.download-app-section{
    width: 100%;
    background: url(../images/app-bg.png) left top no-repeat;
    background-size: cover;
}
.download-app-section .download-app-inner {
    width: 100%;
    padding: 110px 0px 56px 0px;
    text-align: center;
}
.download-app-section .download-app-inner h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 465px;
    padding-right: 17px;
}
.download-app-section .download-app-inner a {
    background: transparent;
    color: #fff;
    border: 1px solid #0626e8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 24px;
    border-radius: 1px;
    margin-right: 24px;
}
.download-app-section .download-app-inner a:hover{
    background: #e550ed;
    color: #000000;
    border: 1px solid #e550ed;
    cursor: pointer;
    transition: .3s linear;
}
/*download-app-section  css end*/
/*REGISTER NOW section css start*/
.register-section{
    width: 100%;
    background: url(../images/register-bg.png) left center no-repeat;
    background-size: cover;
}
.register-section .register-inner {
    width: 100%;
    padding: 132px 0px 100px 0px;
}
.register-section .register-inner h2 {
    color: #00dde4;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.register-section .register-inner p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.register-section .register-inner a{
    background: transparent;
    color: #fff;
    border: 1px solid #0626e8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 24px;
    border-radius: 1px;
    margin-right: 24px;
}
.register-section .register-inner a:hover{
    background: #e550ed;
    color: #000000;
    border: 1px solid #e550ed;
    cursor: pointer;
    transition: .3s linear;
}
.register-section .logo{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
}
.register-section .logo-position {
    position: absolute;
    bottom: -127px;
    left: 11%;
}
/*REGISTER NOW section css end*/
/*footer section css start*/
.footer-section{
    width: 100%;
    background: #432e8b;
}
.footer-section .bdr{
    width: 100%;
    border: 1px solid #fff;
}
.footer-section .footer-left {
    width: 100%;
    padding: 60px 0px 50px 0px;
}
.footer-section .footer-left h2 {
    color: #00dde4;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    padding: 20px 0px 15px 0px;
}
.footer-section .footer-left p {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}
.footer-section .footer-middle {
    width: 100%;
    padding: 135px 0px 0px 0px;
}
.footer-section .footer-middle h3 {
    color: #00dde4;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.footer-section .footer-middle ul li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 2px 0px;
}
.footer-section .footer-right{
    width: 100%;
    padding: 135px 0px 0px 0px;
}
.footer-section .footer-right h3{
    color: #00dde4;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.footer-section .footer-right .contact-section ul li {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
}
.footer-section .footer-right .icon-section ul li{
    display: inline;
}
.footer-section .footer-right .icon-section ul li a i {
    background: #fff;
    color: #432e8b;
    font-size: 17px;
    padding: 7px 9px;
    margin: 22px 2px 0px 2px;
    border-radius: 31px;
}
.footer-section .footer-right .icon-section ul li a i:hover{
    background: #432e8b;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
/*footer section css end*/





